<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="padding:5px ;background:gray">
<div style="background:white;border-radius:20px;padding:20px ;margin-top:50px;margin-left:10% ;margin-right:10%;text-align:center">
    <div style="text-align:center">
        {% for mesg in get_flashed_messages() %}
        <h3>{{ mesg }}</h3>
        {% endfor %}
        <h1>Examination room</h1>
        <br>
        <button class="btn-primary" style="padding:10px; margin:10px; width:80%; font-size:25px">
            <a href="{{ url_for('create_room') }}" style="color:white">Create room</a>
        </button>
        <br>
        <button class="btn-success" style="padding:10px; margin:10px; width:80%; font-size:25px">
            <a href="{{ url_for('exam_room') }}" style="color:white">Join room</a>
        </button>
    </div>
</div>

</body>
</html>